# Add the lines below to your crontab file to automatically run each day


# PC 1

PYTHON_EXE=/home/sellitus/anaconda3/envs/stock-toolkit/bin/python
GEN_ALGO_EXE=/home/sellitus/PythonProjects/stock-toolkit/genetic-strategy-builder/gen_algo.py

30 10 * * * $PYTHON_EXE $GEN_ALGO_EXE --notify 1500 -production --tickers ADA-USD
30 10 * * * $PYTHON_EXE $GEN_ALGO_EXE --notify 1500 -production --tickers ETH-USD
30 10 * * * $PYTHON_EXE $GEN_ALGO_EXE --notify 1500 -production --tickers COTI-USD
30 10 * * * $PYTHON_EXE $GEN_ALGO_EXE --notify 1500 -production --tickers ATOM-USD

30 13 * * * $PYTHON_EXE $GEN_ALGO_EXE --notify 1500 -production --tickers SPY
30 13 * * * $PYTHON_EXE $GEN_ALGO_EXE --notify 1500 -production --tickers AMD
30 13 * * * $PYTHON_EXE $GEN_ALGO_EXE --notify 1500 -production --tickers NVDA
30 13 * * * $PYTHON_EXE $GEN_ALGO_EXE --notify 1500 -production --tickers TSLA


# PC 2

PYTHON_EXE=/home/sellitus/anaconda3/envs/stock-toolkit/bin/python
GEN_ALGO_EXE=/home/sellitus/PythonProjects/stock-toolkit/genetic-strategy-builder/gen_algo.py

30 10 * * * $PYTHON_EXE $GEN_ALGO_EXE --notify 1500 -production --tickers DOT1-USD
30 10 * * * $PYTHON_EXE $GEN_ALGO_EXE --notify 1500 -production --tickers LINK-USD
30 10 * * * $PYTHON_EXE $GEN_ALGO_EXE --notify 1500 -production --tickers DOGE-USD
30 10 * * * $PYTHON_EXE $GEN_ALGO_EXE --notify 1500 -production --tickers SHIB-USD

30 13 * * * $PYTHON_EXE $GEN_ALGO_EXE --notify 1500 -production --tickers MSFT
30 13 * * * $PYTHON_EXE $GEN_ALGO_EXE --notify 1500 -production --tickers GOOGL
30 13 * * * $PYTHON_EXE $GEN_ALGO_EXE --notify 1500 -production --tickers INTC
30 13 * * * $PYTHON_EXE $GEN_ALGO_EXE --notify 1500 -production --tickers AAPL